.destination {
  padding: 7.6rem 16.5rem 11rem 16.5rem;
  display: flex;
  flex-direction: column;
  align-self: center;

  @media screen and (max-width: 1160px) {
    padding-inline: 10.5rem;
  }

  @media screen and (max-width: 600px) {
    padding-inline: 2.4rem;
    justify-content: center;
  }

  h2 {
    font-family: $condensed-font;
    font-style: normal;
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 3.4rem;
    letter-spacing: 0.4725rem;
    text-transform: uppercase;
    color: $bright-color;

    @media screen and (max-width: 600px) {
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 2.7px;
      display: flex;
      justify-content: center;
    }

    span {
      mix-blend-mode: normal;
      opacity: 0.25;
      padding-right: 2.8rem;
    }
  }

  .nav-planets {
    padding-top: 6.4rem;
    font-family: $condensed-font;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    letter-spacing: 0.27rem;
    align-self: flex-end;
    width: 40%;
    position: relative;

    @media screen and (max-width: 960px) {
      width: 100%;
      text-align: center;
      padding-top: 47rem;
    }

    @media screen and (max-width: 600px) {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2.6rem;
      align-self: center;
    }

    a {
      color: $medium-color;
      text-decoration: none;
      text-transform: uppercase;
      margin-right: 2.7rem;
      padding-bottom: 1.5rem;
      transition: all 0.1s ease-in;

      @media screen and (max-width: 600px) {
        margin-right: 0;
      }

      &:hover {
        border-bottom: 3px solid grey;
      }
    }

    .active {
      border-bottom: 3px solid $bright-color;
      color: $bright-color;
    }
  }

  .container-destination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 41.5rem;

    @media screen and (max-width: 600px) {
      height: auto;
    }

    .img-container {
      width: 41.5rem;
      height: 41.5rem;

      @media screen and (max-width: 960px) {
        position: absolute;
        top: 24rem;
        right: 0rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .img {
      width: 41.5rem;
      height: 41.5rem;
      background-size: contain;
      background-repeat: no-repeat;
      padding-left: 6.5rem;
      animation: rotate 50s linear infinite;

      @media screen and (max-width: 1160px) {
        width: 35.5rem;
        height: 35.5rem;
      }

      @media screen and (max-width: 600px) {
        width: 25.5rem;
        height: 25.5rem;
      }
    }

    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

    .img-moon {
      background-image: url("/destination/image-moon.png");
    }
    .img-mars {
      background-image: url("/destination/image-mars.png");
    }
    .img-europa {
      background-image: url("/destination/image-europa.png");
    }
    .img-titan {
      background-image: url("/destination/image-titan.png");
    }

    .txt-box {
      width: 40%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      @media screen and (max-width: 960px) {
        width: 100%;
        justify-content: center;
        text-align: center;
      }

      h2 {
        font-family: $primary-font;
        font-style: normal;
        font-weight: 400;
        font-size: 100px;
        line-height: 115px;
        padding-top: 2.7rem;

        @media screen and (max-width: 450px) {
          font-size: 5.6rem;
          line-height: 6.4rem;
        }
      }

      .p-primary {
        @include pPrimary();
        padding-bottom: 5.4rem;

        @media screen and (max-width: 450px) {
          font-size: 1.5rem;
          line-height: 2.5rem;
        }
      }

      .detail-box {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-top: 1px solid $medium-color;

        @media screen and (max-width: 450px) {
          flex-direction: column;
        }

        .d-box {
          width: 50%;
          padding-top: 2.8rem;

          .p-secondary {
            font-family: $condensed-font;
            font-style: normal;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 1.7rem;
            letter-spacing: 2.3625px;
            text-transform: uppercase;
            color: $medium-color;
          }

          .p-number {
            font-family: $primary-font;
            font-style: normal;
            font-weight: 400;
            font-size: 2.8rem;
            line-height: 3.2rem;
            text-transform: uppercase;
            color: $bright-color;
            padding-top: 1.2rem;
          }
        }
      }
    }
  }
}
